body{
    background:url("fondos/corazon-12.png") repeat-y top left, url("fondos/corazon-2.svg") repeat-y right top;
    background-color: hsl(344, 100%, 82%);
    background-size: 200px;
    font-family: cursive;
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
}
h1{
    text-transform: uppercase;

}
div.s1{
    border: black 5px solid;
    margin: 50px 200px;
    font-weight: bold;
    color: white;
    background: url("fondos/manchas.png");

}

div.s2{
    border:rgb(255, 232, 152) 5px solid;
    color: rgb(219, 222, 14);
    margin: 50px 200px;
    font-weight: bold;
    background: url("fondos/corazon-1.png") no-repeat center,url("fondos/tallos.jpg");
    background-size: contain,auto;
}
div.s3{
    border:rgb(152, 248, 255) 5px solid;
    color: rgb(98, 138, 64);
    margin: 50px 200px;
    font-weight: bold;
    background: url("fondos/caballo.svg") repeat-x bottom,url("fondos/estrellas.png");
    background-size: 100px,auto;
    padding-bottom: 50px;
}